* {
  position: relative;
  z-index: 10000;
  user-select: none;
}

html {
  line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

a,
input[type=checkbox],
label {
  /*Eliminar cuadrado azul al hacer click a un enlace*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

/*VARIABLES ESPECIALES*/
:root {
  --color-tablero: #00005e;
  --efecto-pantalla-rojo: #840109;
  --efecto-pantalla-verde: #3c8f01;
  --efecto-pantalla-azul: #509ece;
  --efecto-pantalla-negro: #000;
  --color-efectopantalla: transparent;
  --content-fecha-checkbox: var(--caracter-checkbox-false);
  --caracter-checkbox-false: "\2B1C";
  --caracter-checkbox-true: "\2611";
  --cantidad-helantes: "";
  --cantidad-cambios: "";
  --posicion-texto-puntos-x: 0vw;
  --posicion-texto-puntos-y: 0vh;
  --contenido-texto-puntos: "";
}

#body {
  font-family: "Trebuchet MS", "Arial", "sans-serif";
  background-repeat: repeat;
  background-size: 60px;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  left: 0;
  background-attachment: fixed;
  top: 0;
  height: 100vh;
  overflow: auto;
  /* transition: top 1.2s ease; */
}

html {
  background-image: url("./img/boton-apagado.png");
  background-repeat: repeat;
  background-size: 60px;
  overflow: auto;
}

.texto-puntos {
  display: inline-block;
  color: #d58d45;
  font-size: 10vw;
  position: fixed;
  text-align: center;
  width: 25vw;
  height: 10vh;
  text-shadow: .7vw .7vw #45200e;
  z-index: 40000;
  left: var(--posicion-texto-puntos-x);
  top: var(--posicion-texto-puntos-y);
  opacity: 0;
}

.animacion-aparecerElementoAgrandar {
  animation: aparecerElementoAgrandar 5s ease  1;
}

@keyframes aparecerElementoAgrandar {
  0% {
      transform: scale(0.1);
      opacity: 0.3;
  }
  10% {
      transform: scale(1.2);
      opacity: 1;
  }
  40% {
      transform: scale(1.1);
  }
  100% {
      opacity: 0;
  }
}

.cont-inicio {
  display: grid;
  margin: 0;
  width: 100vw;
  height: 90vh;
  grid-template-columns: 33vw 33vw 3vw 15vw 15vw;
  grid-template-rows: 4vh 15vw 10vh 1fr;
}

.cont-juego {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

.info-usr,
.cont-botones,
.menu-inf--inicio,
.menu-inf--tienda,
.cont-inicio__btn--info,
.cont-inicio__btn--conf,
.cont-inicio__titulo {
  overflow: hidden;
  margin: 0;
}

h1,
h3 {
  font-family: "Trebuchet MS", "Arial", "sans-serif";
  font-size: min(8vh, 14vw);
  color: #45200e;
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: start;
  font-weight: 900;
}

h1 {
  /*Texto beige con sobra marron*/
  font-family: "Trebuchet MS", "Arial", "sans-serif";
  font-weight: 900;
  font-variant: small-caps;
  display: inline-block;
}

.cont-inicio__btn,
.cont-inicio__btn--conf,
.cont-inicio__btn--info {
  display: inline-block;
  background: url("./img/boton.png");
  background-size: cover;
  border-radius: 10px;
  width: 14vw;
  height: 14vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-inicio__btn--info {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.cont-inicio__btn--info::before {
  font-family: 'fa-solid';
  content: "\f129";
}

.cont-inicio__btn--conf {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.cont-inicio__btn--conf::before {
  font-family: 'fa-solid';
  content: "\f013";
}

.cont-inicio__btn::before,
.cont-inicio__btn--conf::before,
.cont-inicio__btn--info::before {
  color: #754119;
  font-size: 7vw;
}

.cont-botones__btn--clasico::after {
  content: "\f06d";
}

.cont-botones__btn--experto::after {
  content: "\f508"
}

.cont-botones__btn--experto::after,
.cont-botones__btn--clasico::after {
  font-family: 'fa-solid';
  font-size: 6vh;
  text-shadow: none;
  color: #754119;
}

.info-usr {
  grid-row: 4 / 5;
  grid-column: 3 / 6;
}

.info-usr__ft {
  width: 26vw;
  border-radius: 50%;
  margin: 5px;
  background-color: #976b51;
}

.info-usr__nmbr {
  color: #fff;
  font-size: 5vw;
  margin: 5px 0 0 0;
  font-weight: bold;
  font-family: "Trebuchet MS", "Arial", "sans-serif";
}

.info-usr__record--clasico,
.info-usr__record--experto {
  margin: 0;
  color: #fff;
  font-size: 4vw;
  margin-top: 10px;
}

.cont-botones {
  display: inline-block;
  width: 100%;
  height: 90%;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  /* border-right: 1vw solid #45200e99; */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.cont-botones__deco {
  font-size: 25vw;
  font-weight: 900;
  color: #45200e;
  margin: 30px;
}

.cont-botones__deco::before {
  font-family: 'fa-solid';
  content: "\f5dc";
}

/*BOTON COMPRAR FONDO*/
.cont-fondos__fondo,
.cont-fondos__fondo--selcc,
.cont-fondos__fondo--blkdo {
  display: inline-block;
  width: 43vw;
  height: 43vw;
  border-radius: 10px;
  margin: 8px;
  background: url("./img/boton.png");
  background-size: 50%;
  border-radius: 2vw;
}

/*BOTON ESTANDAR*/
.cont-botones__btn--clasico,
.cont-botones__btn--experto,
.menu-inf__diario,
.menu-inf__inicio,
.menu-inf__tienda,
.menu-inf__diario--activo,
.menu-inf__inicio--activo,
.menu-inf__tienda--activo,
.config__btn,
.alerta__btn,
.cont-info__btn,
.titulo__btn--monedas,
.titulo__btn--cambios,
.titulo__btn--fondos,
.titulo__btn--helantes,
.cont-inicio__btn--info,
.cont-inicio__btn--conf,
.purchase-card__btn,
.purchase-card__btn--money-icon,
.cont-juego__titulo,
.cont-juego__fecha,
.tablero-info__btn-inicio,
.tablero-info__config,
.tablero-info__helante,
.tablero-info__pts,
.tablero-info__cambio,
.tablero-info__pts-hist,
.cont-botones__btn--clasico,
.cont-botones__btn--experto,
.tabla__btn-info,
.controles__before,
.controles__next {
  background: url("./img/boton.png");
  background-repeat: repeat;
  background-size: 200px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #754119;
  text-align: center;
  font-size: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/*BOTON ESTANDAR ANIMACIÓN AL APRETAR*/
.cont-botones__btn--clasico:active,
.cont-botones__btn--experto:active,
.menu-inf__diario:active:enabled,
.menu-inf__inicio:active:enabled,
.menu-inf__tienda:active:enabled,
.menu-inf__diario--activo:active:enabled,
.menu-inf__inicio--activo:active:enabled,
.menu-inf__tienda--activo:active:enabled,
.config__btn:active:enabled,
.alerta__btn:active,
.cont-info__btn:active:enabled,
.cont-inicio__btn--info:active,
.cont-inicio__btn--conf:active,
.cont-fondos__fondo:active,
.tabla__btn-info:active,
.controles__before:active,
.controles__next:active {
  transform: translateY(4px);
  box-shadow: none;
}

/*BOTON ESTANDAR DESABILITADO*/
.cont-botones__btn--clasico:disabled,
.cont-botones__btn--experto:disabled,
.menu-inf__diario:disabled,
.menu-inf__inicio:disabled,
.menu-inf__tienda:disabled,
.menu-inf__diario--activo:disabled,
.menu-inf__inicio--activo:disabled,
.menu-inf__tienda--activo:disabled,
.config__btn:disabled,
.alerta__btn:disabled,
.cont-info__btn:disabled,
.cont-fondos__fondo--blkdo,
.cont-juego__fecha,
.tablero-info__helante:disabled,
.tablero-info__cambio:disabled,
.controles__before:disabled,
.controles__next:disabled {
  background: url("./img/boton-apagado.png");
  color: #45200e;
}

.cont-botones__btn--clasico,
.cont-botones__btn--experto {
  height: 7vh;
  width: 50vw;
  margin: 3vw;
  padding: 3vw 0px;
}

.menu-inf,
.menu-inf--inicio,
.menu-inf--tienda,
.menu-inf--diario {
  height: 10vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 33.333vw 33.333vw 33.333vw;
  grid-template-rows: 1fr;
}

.menu-inf--inicio {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
}

.menu-inf--tienda {
  grid-row: 3 / 4;
}

.menu-inf--diario {
  grid-row: 2 / 3;
}

.menu-inf__diario::before,
.menu-inf__diario--activo::before {
  font-family: 'fa-solid';
  content: "\f005";
}

.menu-inf__inicio::before,
.menu-inf__inicio--activo::before {
  font-family: 'fa-solid';
  content: "\f015";
}

.menu-inf__tienda::before,
.menu-inf__tienda--activo::before {
  font-family: 'fa-solid';
  content: "\f55d";
}

.menu-inf__diario,
.menu-inf__inicio,
.menu-inf__tienda,
.menu-inf__diario--activo,
.menu-inf__inicio--activo,
.menu-inf__tienda--activo {
  display: inline-block;
  background-image: url("./img/boton-apagado.png");
  border-radius: 0;
  font-size: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2;
}

.menu-inf__tienda,
.menu-inf__tienda--activo {
  border: none;
}

.menu-inf__diario--activo,
.menu-inf__inicio--activo,
.menu-inf__tienda--activo {
  background-image: url("./img/boton.png");
  color: #45200e99;
}

.menu-inf__diario::before,
.menu-inf__inicio::before,
.menu-inf__tienda::before,
.menu-inf__diario--activo::before,
.menu-inf__inicio--activo::before,
.menu-inf__tienda--activo::before {
  font-weight: 900;
  font-variant: small-caps;
  color: #45200e99;
}

.config,
.cont-cred {
  margin: auto;
  width: 90vw;
  font-size: 6vw;
  color: #754119;
  padding: 2vh 0;
  padding-bottom: 3vh;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  background: url("./img/boton.png");
  position: absolute;
  top: 20vw;
  left: 5vw;
  display: none;
  z-index: 30000;
}
.config {
  z-index: 60000;
}
.config__btn-cerrar::before {
  font-family: 'fa-solid';
  content: "\f057"
}

.config__icono--volumen::before {
  font-family: 'fa-solid';
  content: "\f028"
}

.config__icono--tierra::before {
  font-family: 'fa-solid';
  content: "\f57d"
}

.config__icono--usr::before {
  font-family: 'fa-solid';
  content: "\f007"
}

.config__icono--basura::before {
  font-family: 'fa-solid';
  content: "\f2ed"
}

.config__icono--change::before {
  font-family: 'fa-solid';
  content: "\f2f9"
}

.config__btn-cerrar {
  color: #45200e;
  text-align: center;
  font-size: 9vw;
  margin: 2% 5%;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 10500;
  padding: 2vw;
}

.config__titulo {
  font-size: 10vw;
  margin-bottom: 5vw;
}

.config__seccion {
  background: url("./img/boton-apagado.png");
  background-repeat: repeat;
  background-size: 200px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  /* border-radius: 6px; */
  color: #45200e;
  text-align: center;
  font-size: 8vw;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  padding: 4vw;
  flex-wrap: wrap;
}

.config div:nth-child(3) { /*Primera seccion del config*/
  border-radius: 6px 6px 0 0;
}

.config div:last-child {
  border-radius: 0 0 6px 6px;
}

.config__nmbr {
  margin: 0 4vw;
}

.config__btn {
  margin: 4vw;
  margin-bottom: 2vw;
  border: none;
  padding: 2vw;
  font-size: 7vw;
}

.efectoPantallaColor::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: .5;
  z-index: 55000;
  background-color: var(--color-efectopantalla);
}

.config__marcar {
  display: block;
  cursor: pointer;
  width: 6vw;
  height: 6vw;
  outline: 4px solid #45200e;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #45200e;
  margin-left: auto;
}

.config__marcar div {
  width: 12vw;
  height: 12vw;
  background-color: #45200e;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
  transition: 300ms ease;
}

.config__input--volumen:not(:checked) + div {
  left: -10px;
  top: -10px;
}

.config__input--volumen {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.alerta {
  display: none;
  width: 80vw;
  padding: 20px;
  background: url("./img/boton-apagado.png");
  color: #1f293c;
  font-size: 23px;
  position: fixed;
  top: calc(10vh - calc(92px / 2));
  left: calc(50vw - calc(calc(80vw + 40px) / 2));
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  z-index: 80000;
}

.alerta__cerrar {
  margin: 0px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 35px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.input-alerta {
  padding: 5px;
  padding-left: 10px;
  background-color: #fff5;
  border: none;
  color: #1f293c;
  margin-top: 10px;
  border-radius: 6px;
  width: 85%;
  font-size: 100%;
}

.input-alerta:focus {
  border: none;
  outline: 2px solid #1f293c;
}

.alerta__btn,
.alerta__btn--recomp-diario {
  display: flex;
  padding: 1vw 4vw;
  font-size: 23px;
  width: fit-content;
  margin: 5px auto;
}

.alerta__cont-btns {
  display: flex;
}

.selectorFotoPerfil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  user-select: none;
}

.radioInputFtPrfl:checked+.imgSelectorFtPrfl {
  border-color: #45200e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #45200e;
}

.radioInputFtPrfl:checked+.imgSelectorFtPrfl:before {
  background-color: #45200e;
  border-color: #45200e;
}

.radioInputFtPrfl:checked+.imgSelectorFtPrfl {
  filter: none;
}

.radioInputFtPrfl:focus+.imgSelectorFtPrfl {
  border-color: #45200e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 3px #3f28208e;
}

.imgSelectorFtPrfl {
  width: 27vw;
  height: 27vw;
  border-radius: 8px;
  border: 2px solid #767676;
  transition: 0.15s ease;
  filter: opacity(0.7);
  margin: 6px;
  background-color: #311;
}


.radioInputFtPrfl {
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  opacity: 0;
}

.cont-cred {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  font-size: 5vw;
  padding: 2vh 5vw;
  width: 80vw;
  margin: auto;
  position: static;
  word-break: keep-all;
}

.cont-cred__titulo {
  margin-bottom: 0px;
}

.cont-cred__ppal,
.cont-cred__ppal--1ero,
.cont-cred__ppal--ult {
  font-size: 6vw;
  font-weight: bold;
  margin: 0;
  color: #45200e;
}

.cont-cred__enlace {
  color: #1f293c;
  text-decoration: underline;
}

.cont-info__btn {
  float: left;
  padding: 5px;
  margin: 10px 20px;
}

.cont-info__btn::before,
.tablero-info__btn-inicio::before {
  font-family: 'fa-solid';
  content: "\f060";
}

.purchase-card__btn,
.purchase-card__btn--money-icon {
  display: inline-block;
  padding: 0 4vw;
  border-radius: 2vw;
  font-size: 6vw;
  color: #433;
}

.purchase-card__btn--money-icon {
  padding-right: calc(2.6vh + 5vw);
}

h3 {
  font-size: min(8vh, 10vw);
  margin: 20px;
}

.titulo__h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.purchase-card {
  display: inline-block;
  width: 43vw;
  height: 60vw;
  border-radius: 10px;
  background: url("./img/boton-apagado.png");
  margin: 10px;
}

.purchase-card:active {
  transform: scale(95%);

}

.purchase-card__img {
  width: 35vw;
  height: 35vw;
  border-radius: 10px;
  background-color: #311;
  background-size: 100%;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #45200e99;
  background-color: #45200e;
  opacity: .9;
}

.purchase-card__info {
  background-color: transparent;
  margin: 5px;
  color: #1f293c;
  font-weight: bold;
  font-size: 4.98vw;
}

.cont-fondos__img,
.alerta__img {
  width: 33vw;
  height: 30vw;
  border-radius: 10px;
  background-color: #311;
  object-fit: cover;
  z-index: 1000;
}

.cont-fondos__cont-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 15px;
}

.alerta__img {
  border: 2vw solid #d89857;
  margin: 5px auto;
}

.cont-fondos__info {
  margin: 5px 15px;
  font-size: 6vw;
  color: #433;
}

.cont-fondos__info::after {
  content: "";
  margin-left: calc(3vw + 15px);
  position: relative;
  right: 0;
  top: calc(50% - 1.3vh);
}

.purchase-card__btn--money-icon::before {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 1.3vh);
}

.cont-inicio--tienda {
  display: grid;
  margin: auto;
  width: 100vw;
  height: 90vh;
  grid-template-columns: 1fr;
  grid-template-rows: 6vh 1fr;
  overflow: hidden;
}

.cont-fondos__fondo--selcc .cont-fondos__cont-img::before {
  position: absolute;
  content: "\2705";
  font-size: 7vw;
  color: transparent;
  font-family: 'Noto Emoji', sans-serif;
  background: url("./img/boton.png");
  -webkit-background-clip: text;
  background-clip: text;
  width: 10vw;
  height: 10vw;
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a76843;
  z-index: 3000;
}

.cont-fondos__fondo--selcc .cont-fondos__cont-img::after {
  content: "";
  position: absolute;
  background: #1f293c;
  width: 6vw;
  height: 6vw;
  z-index: 2000;
}

.cont-fondos__fondo .cont-fondos__info,
.cont-fondos__fondo--selcc .cont-fondos__info{
  opacity: 0;
}

.menu-sup {
  display: flex;
  text-align: left;
  width: 100vw;
  background: url("./img/boton-apagado.png");
  z-index: 20000;
  padding: 1vh;box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
  grid-row: 1 / 2;
}

.menu-sup__moneda {
  margin: 0.25vh 10px;
  padding-left: 2vw;
  border-radius: 10px;
  font-size: 2vh;
  color: #1f293c;
  font-weight: bold;
  display: flex;
  align-items: center;
  background: url("./img/boton.png");
}

/*ICONO MONEDA*/
.menu-sup__icon--mon,
.purchase-card__btn--money-icon::before,
.menu-sup__icon--cam,
.menu-sup__icon--hel,
.cont-fondos__info::after,
.alerta__moneda {
  width: 2.6vh;
  height: 2.6vh;
  margin-left: 3vw;
  margin-right: 2vw;
  background-image: url("./img/money.png");
  background-size: cover;
  display: inline-block;
}

.menu-sup__icon--cam {
  background-image: url("./img/lampara.png");
}

.menu-sup__icon--hel {
  background-image: url("./img/hielo.png");
}

.alerta__usd::before {
  content: "USD";
  display: flex;
  margin-left: 3vw;
  margin-right: 2vw;
}

.titulo__btn--monedas,
.titulo__btn--cambios,
.titulo__btn--helantes,
.titulo__btn--fondos {
  height: 8vw;
  width: 8vw;
  position: absolute;
  right: 4vw;
  font-size: 6vw;
  right: 9vw;
  top: calc(50% - 5vw);
  border-radius: 100%;
  padding: 1vw; 
}

.titulo__btn--monedas::before,
.titulo__btn--cambios::before,
.titulo__btn--fondos::before,
.titulo__btn--helantes::before {
  font-family: 'fa-solid';
  content: "\f129";
}

.cont-inicio__contenido {
  grid-row: 2 / 3;
  overflow: auto;
  width: 100vw;
  padding-bottom: 5vh;
}
.cont-juego__contenido {
  width: 100%;
}

.cont-botones__btn--clasico::before,
.cont-botones__btn--experto::before {
  color: #754119;
  font-size: 7.5vw;
  margin-right: 2.4vw;
}

.cont-botones__btn--clasico::before {
  content: "CLÁSICO";
}

.cont-botones__btn--experto::before {
  content: "EXPERTO";
}

.cont-juego--diario {
  display: grid;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}

.cont-juego__titulo {
  color: #45200e;
  padding: 10px;
  margin: calc(4vh + 5px) auto 0 auto;
  width: calc(80vw - 30px); 
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.cont-juego__fecha {
  margin: 10px auto 0 auto;
  padding: 5px 15px;
  font-size: 7vw;
  border-radius: 10px;
  width: calc(80vw - 50px); 
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.cont-juego__fecha::after {
  content: var(--content-fecha-checkbox);
  font-family: 'Noto Emoji', sans-serif;
  display: inline-block;
  font-size: 6vw;
  height: 1.3em;
  width: 1.3em;
  color: #45200e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.tabla {
  display: grid;
  margin: 1vh auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min(7.5vh, 16vw));
  width: 80vw;
  background-image: url("./img/papel-con-rayas.png");
  font-family: 'Caveat', cursive, sans-serif;
  color: var(--color-tablero);
  padding: 0;
  font-weight: 100;
  border-radius: 4vw;
  list-style: none;
}
.tabla__especial .tabla__palabra:last-child {
  background-image: url("./img/papel-con-rayas-especial.png");
  border-radius: 0 0 4vw 4vw;
  border-top: 0.4vw solid var(--color-tablero);
}

.tabla__especial .tabla__palabra:first-child {
  background-image: url("./img/papel-con-rayas-especial.png");
  border-radius: 4vw 4vw 0 0;
}

.tabla__especial .tabla__palabra:first-child .tabla__btn-info,
.tabla__especial .tabla__palabra:last-child .tabla__btn-info {
  display: none;
}

.tabla__palabra {
  font-size: min(5.5vh, 12vw);
  font-weight: bolder;
  border-bottom: 0.4vw solid var(--color-tablero);
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  align-items: center;
  height: 100%;
}

.tabla__btn-info::before {
  font-family: 'fa-solid';
  content: "\3f";
}
.tabla__btn-info {
  position: absolute;
  font-size: 6vw;
  width: 10vw;
  height: 10vw;
  left: 65vw;
  margin-right: 15px;
  align-items: middle;
}

.tabla__palabra b {
  font-weight: bold;
}

.tabla__palabra:last-child {
  border: 0px;
}

/*RUEDA PUNTOS GIRANDO SPINNER CARGANDO*/
.cargando {
  margin: auto;
  transform: scale(1);
  --velocidad: .9s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 10vw;
  width: 10vw;
  align-self: center;
}

.cargando__pto {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.cargando__pto::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: #00005e;
  transform: scale(0);
  opacity: 0.5;
  animation: pulso calc(var(--velocidad) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.cargando__pto:nth-child(2) {
  transform: rotate(45deg);
}

.cargando__pto:nth-child(2)::before {
  animation-delay: calc(var(--velocidad) * -0.875);
}

.cargando__pto:nth-child(3) {
  transform: rotate(90deg);
}

.cargando__pto:nth-child(3)::before {
  animation-delay: calc(var(--velocidad) * -0.75);
}

.cargando__pto:nth-child(4) {
  transform: rotate(135deg);
}

.cargando__pto:nth-child(4)::before {
  animation-delay: calc(var(--velocidad) * -0.625);
}

.cargando__pto:nth-child(5) {
  transform: rotate(180deg);
}

.cargando__pto:nth-child(5)::before {
  animation-delay: calc(var(--velocidad) * -0.5);
}

.cargando__pto:nth-child(6) {
  transform: rotate(225deg);
}

.cargando__pto:nth-child(6)::before {
  animation-delay: calc(var(--velocidad) * -0.375);
}

.cargando__pto:nth-child(7) {
  transform: rotate(270deg);
}

.cargando__pto:nth-child(7)::before {
  animation-delay: calc(var(--velocidad) * -0.25);
}

.cargando__pto:nth-child(8) {
  transform: rotate(315deg);
}

.cargando__pto:nth-child(8)::before {
  animation-delay: calc(var(--velocidad) * -0.125);
}

@keyframes pulso {

  0%,
  100% {
      transform: scale(0);
      opacity: 0.5;
  }

  50% {
      transform: scale(1);
      opacity: 1;
  }
}

.teclado,
.teclado--diario,
.controles {
  display: inline-block;
  width: 100%;
  background-color: #b0afaf88;
  padding-top: 2vh;
  padding-bottom: 5vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

.teclado--diario {
  padding-bottom: 2vh;
}

.teclado__letra {
  display: inline-block;
  background-color: #fff5;
  border-radius: 5px;
  text-align: center;
  font-size: 6vw;
  color: #45200e;
  width: 8.6vw;
  padding: 2vw 0;
  margin: .5vh .5vw;
  box-shadow: 0 4px 2px 0 rgb(0 0 0 / 20%);
  z-index: 60000;
  text-transform: uppercase;
}

.tablero-info {
  margin: 30px auto;
  display: grid;
  width: 80%;
  grid-gap: 2vw;
  grid-template-columns: 15vw 1fr 15vw;
  grid-template-rows: 12vw 12vw;
  margin-bottom: 0;
}

.tablero-info__pts {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.tablero-info__pts-hist {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  color: #45200e;
  background: linear-gradient(171deg, rgba(243, 237, 215, 1) 0%, rgba(194, 140, 42, 1) 34%, rgba(178, 124, 24, 1) 48%);
}

.tablero-info__pts-hist::before {
  font-family: 'fa-solid';
  content: "\f521";
  margin: 10px;

}

.tablero-info__config::before {
  font-family: 'fa-solid';
  content: "\f013";
}

.tablero-info__helante::before {
  content: "";
  height: 9.5vw;
  width: 9.5vw;
  background: url("./img/sprites.png") -114.475vw -89.205vw;
  background-size: 152.665vw;
}

.tablero-info__cambio::before {
  content: "";
  height: 9.5vw;
  width: 9.5vw;
  background: url("./img/sprites.png") -124.165vw -89.205vw;
  background-size: 152.665vw;
}

.tablero-info__helante::after,
.tablero-info__cambio::after {
  background-color: #45200e;
  border-radius: 3.3px;
  height: 3.3vw;
  padding: .3vw 1vw;
  display: inline-table;
  position: absolute;
  top: -1.5vw;
  left: -1.5vw;
  font-family: 'fa-solid';
  font-size: 3.2vw;
  color: #d58d45;
}

.tablero-info__helante::after {
  content: var(--cantidad-helantes);
}

.tablero-info__cambio::after {
  content: var(--cantidad-cambios);
}

.fondo-reloj {
  background: #76757599;
  width: 100%;
  height: 0vh;
  bottom: 0;
  position: absolute;
  z-index: 6000;
  transition: height 0.1s;
}

.modoclasico::after,
.modoexperto::after {
  font-size: 6vw;
  opacity: 0.2;
  position: fixed;
  bottom: 1vh;
  left: 2vw;
  font-weight: 900;
  color: #fff;
  text-shadow: #000 0 0 10px;
  z-index: 50000;
}

.modoclasico::after {
  content: "CLÁSICO";
}

.modoexperto::after {
  content: "EXPERTO";
}

.config__cont-btn {
  display: flex;
  flex-direction: column;
}

.corazones-vidas {
  font-size: 8vw;
  margin: 5vw auto;
  display: flex;
  width: 100vw;
  justify-content: center;
  color: #eee4c3;
}

.vida-1::before, .vida-2::before, .vida-3::before {
  content: "";
  display: flex;
  align-items: center;
  background-image: url("./img/corazon-rojo.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;    
  width: 8vw;
  height: 8vw;

}
.vida-usada::before {
  background-image: url("./img/corazon-negro.png");
}

.controles {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 8vw;
  padding: 7vh 0;
  padding-bottom: 8vh;
}
.controles__before, .controles__next, .controles__num {
  display: flex;
}
.controles__before, .controles__next {
  width: 12vw;
  height: 12vw;
  border-radius: 100%;
}
.controles__before:before {
  font-family: 'fa-solid';
  content: "\f104";
}

.controles__next:before {
  font-family: 'fa-solid';
  content: "\f105";
}

.alerta ul li {
  list-style: none;
}
.alerta ol {
  text-align: left;
}
.alerta dt {
  display: none;
}

@media screen and (orientation: landscape) {
  .tabla__btn-info {
    border-radius: 10px;
    width: 7vh;
    height: 7vh;
    font-size: 2.5vw;
  }
  .controles__next, .controles__before {
    width: 5vw;
    height: 5vw;
    font-size: 2.5vw;
  }
  .controles__num {
    font-size: min(7.5vh, 10.5vw);
  }
  .corazones-vidas {
    margin: 1.3vw 0;
  }
  .corazones-vidas .vida-1::before,.corazones-vidas .vida-2::before,.corazones-vidas .vida-3::before {
    width: 3vw;
    height: 3vw;
  }
  .teclado {
    width: 100vw;
    padding: 1vh 0;
    padding-bottom: 1.5vh;
  }
  .teclado__letra {
    font-size: calc(1.5vw / 1.5);
    width: calc(5vw / 1.5);
    padding:  calc(1vw / 1.5) 0;
    margin: min(.7vh,.5vw);
  }
.cont-botones__deco {
  display: none;
}
.info-usr, .cont-botones {
  grid-row: 3 / 5;
}
.info-usr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible;
  margin-bottom: 20vh;
}
.info-usr__ft {
  width: 25vh;
}
.info-usr__nmbr, .info-usr__record--clasico, .info-usr__record--experto, .menu-sup__valor--hel, .menu-sup__valor--cam, .menu-sup__valor--mon {
  font-size: min(1.7vw,3.5vh);
}
.cont-inicio--tienda {
  grid-template-rows: min(8.5vh, 4.5vw) 1fr;
}
.cont-inicio__btn, .cont-inicio__btn--conf, .cont-inicio__btn--info, .cont-info__btn {
  width: 5vw;
  height: 5vw;
}
.titulo__btn--monedas, .titulo__btn--cambios, .titulo__btn--helantes, .titulo__btn--fondos {
  width: min(5vw,9vh);
  height: min(5vw,9vh);
  padding: 0;
  top: calc(50% - 2.5vw)
}
.config__btn {
  height: 5vw;
  margin: 2vw;
}
.config__cont-btn {
  flex-direction: row;
}
.cont-info__btn {
  margin: 10px 4vw;
}
.cont-inicio__btn::before, .cont-inicio__btn--conf::before, .cont-inicio__btn--info::before,
.menu-inf__diario, .menu-inf__inicio, .menu-inf__tienda, .menu-inf__diario--activo, .menu-inf__inicio--activo, .menu-inf__tienda--activo,
.cont-info__btn::before, .config__btn {
  font-size: 2.5vw;
}
.tablero-info__cambio::after, .tablero-info__helante::after {
  font-size: 1.4vw;
  height: 1.3vw;
  padding: .3vw .7vw;
  left: -1vw;
}
.tablero-info__cambio::before {
  content: "";
  height: calc(9.5vw / 2.5);
  width: calc(9.5vw / 2.5);  
  background: url("./img/sprites.png") calc(-124.165vw / 2.5) calc(-89.205vw / 2.5);
  background-size: calc(152.665vw / 2.5);
}
.tablero-info__helante::before {
  content: "";
  height: calc(9.5vw / 2.5);
  width: calc(9.5vw / 2.5);  
  background: url("./img/sprites.png")calc(-114.475vw / 2.5) calc(-89.205vw / 2.5);
  background-size: calc(152.665vw / 2.5);
}

.titulo__btn--monedas::before, .titulo__btn--cambios::before, .titulo__btn--helantes::before, .titulo__btn--fondos::before ,.tablero-info__helante::before, .tablero-info__config::before, .tablero-info__btn-inicio::before, .tablero-info__cambio::before {
  font-size: 2.5vw;
}
.menu-sup__icon--mon, .menu-sup__icon--cam, .menu-sup__icon--hel {
  width: 2vw;
  height: 2vw;
}
.cont-botones__btn--experto::after, .cont-botones__btn--clasico::after {
  font-size: 3vw;
}
.cont-inicio__titulo {
  font-size: min(13vh, 20vw);
}
.cont-juego__titulo {
font-size: min(5vh, 7vw);
width: calc(60vw - 30px);
margin: 0;
text-align: left;
display: inline;
padding-left: 5vw;
border-radius: 10px 0 0 10px;
box-shadow: none;
}
.tablero-info__pts-hist, .tablero-info__pts {
font-size: min(5vh, 7vw);
height: 10vh;
}
.tablero-info__pts {
  grid-column: 3 / 4;
  grid-row: 1;
  border-radius: 10px 0 0 10px;
}
.tablero-info__pts-hist {
  grid-column: 4 / 5;
  grid-row: 1;
  border-radius: 0 10px 10px 0;
}
.tablero-info {
  width: 80vw;
  grid-template-columns: 7vw 7vw 26vw 26vw 7vw 7vw;
  grid-template-rows: 10vh;
  gap: 0;
  margin-bottom: 1vh;
}

.tablero-info__helante, .tablero-info__config, .tablero-info__btn-inicio, .tablero-info__cambio {
  width: 5vw;
  height: 10vh;
}
.tablero-info__helante, .tablero-info__cambio {
  margin-left: auto;
}
.cont-juego__fecha, .cont-juego__fecha::after {
  font-size: min(4vh, 6vw);
}
.cont-juego__fecha {
  width: 20vw;
  margin: 0;
  border-radius: 0 10px 10px 0;
  box-shadow: none;
}
.cont-juego__info {
  display: flex;
  height: 10vh;
  margin: 2vh auto 0 auto;
  width: 80vw;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.tabla {
  grid-template-rows: repeat(5, min(9vh, 11vw));
}
.tabla__palabra {
  border-width: 0.2vw;
  font-size: min(6vh, 7vw);
  justify-content: center;
}
.tabla__especial .tabla__palabra:last-child{
  border-width: 0.2vw;
}
.cont-inicio__btn--info {
  margin: 0 14vw;
}
.cont-inicio__btn--conf {
  margin: 0 5vw;
}
.cont-botones {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cont-botones__btn--clasico::before, .cont-botones__btn--experto::before {
  font-size: 5vh;
}
.cont-botones__btn--clasico, .cont-botones__btn--experto {
  height: 0;
  width: 100%;
  margin: min(3vh,3vw);
}
.cont-inicio, .cont-inicio--tienda, .cont-juego--diario {
  height: 89vh;
}
.texto-puntos {
  font-size: 3vw;
  text-shadow: .2vw .2vw #45200e;
}
.menu-inf, .menu-inf--inicio, .menu-inf--tienda, .menu-inf--diario {
  height: 11vh;
  width: 100vw;
  overflow: hidden;
  z-index: 2000;
}
.cont-botones__btn--clasico {
  margin-top: 0;
}
.cont-cred {
  font-size: 1.5vw;
  padding-bottom: 4vw;
}

.cont-cred__ppal,
.cont-cred__ppal--1ero,
.cont-cred__ppal--ult {
  font-size: 2vw;
}
.cont-cred__sec {
  width: 50%;
}
.config {
  top: 5vh;
  padding-bottom: min(3vw,7vh);
  height: 80vh;
}
.config__titulo {
  font-size: 3vw;
  margin-bottom: 1.5vw;
}
.config__seccion {
  font-size: 2.5vw;
  padding: 1.5vw;
}
.config__btn-cerrar {
  font-size: 3vw;
  top: -1vw;
  margin: 0;
}
.config__marcar {
  width: 2.5vw;
  height: 2.5vw;
}
.config__input--volumen:not(:checked) + div {
  left: -15vw;
  top: -15vw;
}
.purchase-card {
  width: 20vw;
  height: calc(20vw * 1.39534883721);
}
.cont-fondos__fondo, .cont-fondos__fondo--selcc, .cont-fondos__fondo--blkdo {
  width: 18vw;
  height: 18vw;
  border-radius: 10px;
}
.cont-fondos__img, .alerta__img {
  width: calc(18vw *0.767441860465);
  height: calc(18vw *0.767441860465);
}
.alerta__img {
  border-width: .8vw;
}
.alerta__cont-btns .alerta__btn {
  margin: 5px 20px;
}
.alerta__cont-btns {
  justify-content: center;
}
.purchase-card__img {
  width: calc(20vw * 0.813953488373);
  height: calc(20vw * 0.813953488373);
}
.purchase-card__info {
  font-size: 2vw;
}
.purchase-card__btn, .purchase-card__btn--money-icon {
  font-size: 2.5vw;
  border-radius: 10px;
}
.purchase-card__btn--money-icon {
  max-width: 35%;
}
.cont-fondos__info {
  font-size: 1.8vw;
}
.cont-fondos__info::after {
  margin-left: 1vw;
  margin-right: -.5vw;
}
.cont-fondos__fondo--selcc .cont-fondos__cont-img::before {
  font-size: 2.5vw;
}
.cont-fondos__fondo--selcc .cont-fondos__cont-img::after {
  width: 2.3vw;
  height: 2.3vw;
}
.menu-sup__icon--mon, .purchase-card__btn--money-icon::before, .menu-sup__icon--cam, .menu-sup__icon--hel, .cont-fondos__info::after {
  width: 1.5vw;
  height: 1.5vw;
}
.alerta__moneda {
  width: 2vw;
  height: 2vw;
}
.alerta__usd::before, .alerta__moneda {
  margin-right: 0;
}
.menu-sup__icon--mon, .menu-sup__icon--cam, .menu-sup__icon--hel {
  margin-left: 2vw;
}
.modoclasico::after, .modoexperto::after {
  font-size: 1.5vw;
  bottom: 4vh;
}
.imgSelectorFtPrfl {
  width: 12vw;
  height: 12vw;
}

}

.inline-block{
  display: inline-block;
}
.none {
  display: none;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url("./fonts/trebuc.woff");
}

@font-face {
  font-family: 'caveat';
  src: url("./fonts/Caveat-Regular.ttf");
}

@font-face {
  font-family: 'Noto Emoji';
  src: url("./fonts/NotoEmoji.ttf");
}

@font-face {
  font-family: 'fa-solid';
  src: url("./fonts/font-awesome-solid.ttf");
}